TP1/war/WebserviceDemoService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://tp1.driss.com/" name="WebserviceDemoService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://tp1.driss.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://tp1.driss.com/" schemaLocation="WebserviceDemoService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="createLivre">
    <part name="parameters" element="tns:createLivre"/>
  </message>
  <message name="createLivreResponse">
    <part name="parameters" element="tns:createLivreResponse"/>
  </message>
  <message name="createAuteur">
    <part name="parameters" element="tns:createAuteur"/>
  </message>
  <message name="createAuteurResponse">
    <part name="parameters" element="tns:createAuteurResponse"/>
  </message>
  <message name="getAuteur">
    <part name="parameters" element="tns:getAuteur"/>
  </message>
  <message name="getAuteurResponse">
    <part name="parameters" element="tns:getAuteurResponse"/>
  </message>
  <message name="getLivre">
    <part name="parameters" element="tns:getLivre"/>
  </message>
  <message name="getLivreResponse">
    <part name="parameters" element="tns:getLivreResponse"/>
  </message>
  <message name="updateAuteur">
    <part name="parameters" element="tns:updateAuteur"/>
  </message>
  <message name="updateAuteurResponse">
    <part name="parameters" element="tns:updateAuteurResponse"/>
  </message>
  <message name="updateLivre">
    <part name="parameters" element="tns:updateLivre"/>
  </message>
  <message name="updateLivreResponse">
    <part name="parameters" element="tns:updateLivreResponse"/>
  </message>
  <message name="deleteAuteur">
    <part name="parameters" element="tns:deleteAuteur"/>
  </message>
  <message name="deleteAuteurResponse">
    <part name="parameters" element="tns:deleteAuteurResponse"/>
  </message>
  <message name="deleteLivre">
    <part name="parameters" element="tns:deleteLivre"/>
  </message>
  <message name="deleteLivreResponse">
    <part name="parameters" element="tns:deleteLivreResponse"/>
  </message>
  <portType name="WebserviceDemo">
    <operation name="createLivre">
      <input wsam:Action="http://tp1.driss.com/WebserviceDemo/createLivreRequest" message="tns:createLivre"/>
      <output wsam:Action="http://tp1.driss.com/WebserviceDemo/createLivreResponse" message="tns:createLivreResponse"/>
    </operation>
    <operation name="createAuteur">
      <input wsam:Action="http://tp1.driss.com/WebserviceDemo/createAuteurRequest" message="tns:createAuteur"/>
      <output wsam:Action="http://tp1.driss.com/WebserviceDemo/createAuteurResponse" message="tns:createAuteurResponse"/>
    </operation>
    <operation name="getAuteur">
      <input wsam:Action="http://tp1.driss.com/WebserviceDemo/getAuteurRequest" message="tns:getAuteur"/>
      <output wsam:Action="http://tp1.driss.com/WebserviceDemo/getAuteurResponse" message="tns:getAuteurResponse"/>
    </operation>
    <operation name="getLivre">
      <input wsam:Action="http://tp1.driss.com/WebserviceDemo/getLivreRequest" message="tns:getLivre"/>
      <output wsam:Action="http://tp1.driss.com/WebserviceDemo/getLivreResponse" message="tns:getLivreResponse"/>
    </operation>
    <operation name="updateAuteur">
      <input wsam:Action="http://tp1.driss.com/WebserviceDemo/updateAuteurRequest" message="tns:updateAuteur"/>
      <output wsam:Action="http://tp1.driss.com/WebserviceDemo/updateAuteurResponse" message="tns:updateAuteurResponse"/>
    </operation>
    <operation name="updateLivre">
      <input wsam:Action="http://tp1.driss.com/WebserviceDemo/updateLivreRequest" message="tns:updateLivre"/>
      <output wsam:Action="http://tp1.driss.com/WebserviceDemo/updateLivreResponse" message="tns:updateLivreResponse"/>
    </operation>
    <operation name="deleteAuteur">
      <input wsam:Action="http://tp1.driss.com/WebserviceDemo/deleteAuteurRequest" message="tns:deleteAuteur"/>
      <output wsam:Action="http://tp1.driss.com/WebserviceDemo/deleteAuteurResponse" message="tns:deleteAuteurResponse"/>
    </operation>
    <operation name="deleteLivre">
      <input wsam:Action="http://tp1.driss.com/WebserviceDemo/deleteLivreRequest" message="tns:deleteLivre"/>
      <output wsam:Action="http://tp1.driss.com/WebserviceDemo/deleteLivreResponse" message="tns:deleteLivreResponse"/>
    </operation>
  </portType>
  <binding name="WebserviceDemoPortBinding" type="tns:WebserviceDemo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="createLivre">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createAuteur">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAuteur">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getLivre">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateAuteur">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateLivre">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteAuteur">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteLivre">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="WebserviceDemoService">
    <port name="WebserviceDemoPort" binding="tns:WebserviceDemoPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

